#menu{
    background-color: rgb(25, 6, 134);
}
#menu ul{
    list-style: none;
    margin: 0;
    padding: 0;
}
#menu ul li{
    display: inline-block;
}
#menu ul li a{
    color: white;
    display: block;
    padding: 10px 5px;
    text-decoration: none;
}
#menu ul li a:hover{
    background-color: #1e1cb3;
}
.item-r{
    float: right;
}

#menu2{
    background-color: rgb(28, 7, 146);
}
#menu2 ul{
    list-style: none;
    margin: 0;
    padding: 0;
}
#menu2 ul li{
    display: inline-block;
}
#menu2 ul li a{
    color: white;
    display: block;
    padding: 10px 5px;
    text-decoration: none;
}
#menu2 ul li a:hover{
    background-color: #1e1cb3;
}
.item-r{
    float: right;
}
#menu2 ul nav{
    float: right;
    font-size:10px;
    font-family:Verdana,Helvetica;
    font-weight:bold;
    color:white;
    background:#638cb5;
    border:20px;
    width:80px;
    height:19px;
}
.portafolio{
    background: #ffffff;
}

.galeria-port{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

body h2{
    text-align: center;
    font-size: 50px;
    color: blue;
}
#galeria{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 100px;
    height: 40vh;
}
